<% include partials/headermunicipio %>

<div class="container mt-5">
  <div class="row">
    <h1 style="text-align: center;">Actualizar Municipio</h1>
    <div class="col-md-5 offset-md-3">
        <form action="/municipio/updatem/<%= data.idMunicipio %>" method="POST">
          <div style="margin-left: 12%;" class="form-group">
            <input type="text" id="Validate" name="NombreMunicipio" value="<%= data.NombreMunicipio%>" maxlength="30" placeholder="Nombre Municipio" class="form-control" required="required" autofocus>
          </div>
          <div style="margin-left: 12%;" class="form-group">
            <input type="number" name="NumeroMunicipio" value="<%= data.NumeroMunicipio%>" maxlength="3" placeholder="Numero Municipio" class="form-control" required="required" >
          </div>
          <div  style="margin-left: 12%;" class="form-group">
            <select name="estado" class="form-control" id="estado" required>
              <% if (data.estado == 1) { %>
                <option name="estado" value="1" selected>activo</option>
                <option name="estado" value="0">Inactivo</option>
              <%} else{ %>
                <option name="estado" value="1">activo</option>    
              <option name="estado" value="0" selected>Inactivo</option> 
              <% } %> 
            </select>
          </div>
          <button style="background-color: green; margin-left: 12%;" type="submit" class="btn btn-primary">
            Actualizar Municipio
          </button>
        </form>
      </div>
    </div>
  </div>

<script language="JavaScript" type="text/javascript">
  $("input#Validate").bind('keypress', function(event) {
  var regex = new RegExp("^[a-zA-Z ]+$");
  var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
  if (!regex.test(key)) {
    event.preventDefault();
    return false;
  }
});

</script>
